.container {

  background: url("../assets/images/concert4.jpg") no-repeat center center
  fixed;
background-size: cover;
}

.main {
    
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;

  }